{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1>Products</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm text-center">
            <button type="button" class="btn btn-success">
                <a class="text-bg-success" href="{{ url_for('products.new_product_page') }}">Add New Product</a>
            </button>
        </div>
    </div>
</div>
{% endblock content %}