<div class="container-fluid" id="productFormInputContainer">

    <div class="row">
        <div class="col">

            <!-- Family select -->
            <div class="input-group mb-3">
                <label class="input-group-text text-bg-success" for="productFormSelectGroup">Form</label>
                <select class="form-select" id="productFormSelectGroup">
                    {% for form in valid_forms %}
                    {% if form == "unknown" %}
                    <option value="{{ form }}" selected>{{ form|title }}</option>
                    {% else %}
                    <option value="{{ form }}">{{ form|title }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>

</div>