<div class="container-fluid" id="productFamilyInputContainer">

    <div class="row">
        <div class="col">

            <!-- Family select -->
            <div class="input-group mb-3">
                <label class="input-group-text text-bg-success" for="productFamilySelectGroup">Family</label>
                <select class="form-select" id="productFamilySelectGroup">
                    {% for family in valid_families %}
                    {% if family == "unknown" %}
                    <option value="unknown" selected>{{ family|title }}</option>
                    {% else %}
                    <option value="{{ family }}">{{ family|title }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>

</div>