<div class="card text-center my-2">

    <div
        class="card-header text-bg-{% if product.family == 'indica' %}primary{% elif product.family =='hybrid' %}success{% elif product.family == 'sativa' %}warning{% endif %}">

        <div class="row">
            <div class="col">
                {{ product.strain }}
            </div>
        </div>

    </div>

    <div class="card-body">
        <p>Family: {{ product.family }}</p>
        <p>Form: {{ product.form }}</p>
        <p>Total CBD: {{ product.total_cbd|round(2) }}</p>
        <p>Total THC: {{ product.total_thc|round(2) }}</p>

    </div>

    <div class="card-footer text-body-secondary">

        <div class="row">

            {% if product.favorite %}
            <!-- Spacer div for favorited product -->
            <div class="col"></div>
            <div class="col">
                {% include "components/svgs/heart_svg.html" %}
            </div>
            {% endif %}

            <div class="col">
                {% include "components/button/delete/btn_delete_product.html" %}
            </div>
        </div>

    </div>


</div>