<div class="container-fluid">
    <form action="{{ url_for('products.create_new_product') }}" method="POST" enctype="multipart/form-data">
        <!-- Keep previous page for redirecting after submit -->
        <input type="hidden" name="previous_page" value="{{ request.referrer }}">

        <!-- Form header -->
        <div class="row">
            <div class="col text-center">
                <p class="lead fw-bold">
                    Add a New Product
                </p>
            </div>

            <hr />
        </div>

        <div class="row justify-content-center g-3">
            <!-- Form left side -->
            <div class="col-md-6">

                <!-- Strain name input-->
                <div class="mb-3">
                    <label for="newProductStrainInput" class="form-label">
                        Strain Name
                    </label>

                    <input type="text" class="form-control" id="newProductStrainInput"
                        placeholder="e.g. Northern Lights" name="strain">
                </div>

                <div class="row my-2">
                    <div class="col">

                        <!-- Family select -->
                        {% include "components/dropdown/new_product_family_dropdown.html" %}

                    </div>

                    <div class="col">
                        <!-- Form select -->
                        {% include "components/dropdown/new_product_form_dropdown.html" %}
                    </div>
                </div>

                <!-- CBD/THC content inputs -->
                <div class="row my-2">

                    <div class="col-sm-6">
                        <!-- Total THC input -->
                        <div class="mb-3">
                            <label for="newProductTotalTHCInput" class="form-label">
                                Total THC Content
                            </label>

                            <div class="input-group mb-3">
                                <input class="form-control" type="number" placeholder="0.000" value="0.000" step="0.001"
                                    name="total_thc">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- Total CBD input -->
                        <div class="mb-3">
                            <label for="newProductTotalCBDInput" class="form-label">
                                Total CBD Content
                            </label>

                            <div class="input-group mb-3">
                                <input class="form-control" type="number" placeholder="0.000" value="0.000" step="0.001"
                                    name="total_cbd">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- <div class="row g-3">
        <div class="col">
            <div class="mb-3">
                <label for="newProductNotesInput" class="form-label">Notes</label>
                <textarea class="form-control" id="newProductNotesInput" rows="3"></textarea>
            </div>
        </div>
    </div> -->

        <!-- Submit button -->
        <div class="row justify-content-md-center my-2">

            <div class="col-sm-auto">

                <input class="btn btn-success" type="submit" aria-label="Submit Product" aria-describedby="submit-icon"
                    value="+ Submit">

                <!-- Favorite -->
                <div class="form-check form-switch my-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        name="favorite">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Favorite</label>
                </div>
            </div>


        </div>
    </form>
</div>