<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">

    <!-- Navbar container -->
    <div class="container-fluid">
        <!-- Brand link -->
        <a class="navbar-brand" href="{{ url_for('index')}}">MedCab</a>

        <!-- Nav toggle button on small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="#navbarCollapse" target="navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links-->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link {% if page_name == 'products' %}active{% endif %}" aria-current="page"
                        href="{{ url_for('products.index') }}">Products</a>
                </li>
            </ul>
        </div>

        <div class="d-flex">
            <!-- Quick add button.
                This opens an offscreen canvas. The code for that canvas is in the base.html template.    
            -->
            <button class="btn btn-success" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#quickAddOffCanvasBottom" aria-controls="quickAddOffCanvasBottom">Quick Add</button>
        </div>

    </div>

</nav>