{% extends "base.html" %}

{% if notification is not none and notification.display == true %}
{% block notification %}
<div class="container-fluid">
    <!-- {{ notification.message }} -->
    {% include 'components/notification/banner_notification.html' %}
</div>
{% endblock notification %}
{% endif %}

{% block content %}
<div class="container-fluid">
    <!-- <div class="row">
        <div class="col"> -->

    <!-- { include "components/card/new_product_form_card.html" %} -->
    {% include "components/form/new_product_form.html" %}

    <!-- </div>
    </div> -->
</div>
{% endblock content %}