upstream backend {
    server api:8000;
    server localhost:8000;
}

server {
    listen 80;
    listen [::]:80;

    server_name ${BACKEND_SERVER};

    location / {
        proxy_pass http://backend;
        proxy_redirect off;

        include /etc/nginx/extra/nginx_proxy_set_headers.conf;
    }

    # include /etc/nginx/extra/cache_static_files.conf;

    ## Ignore connections to /health endpoint
    location /health {
        access_log off;
        proxy_pass http://backend;
    }
}
