<li class="nav-item dropup" data-bs-theme="dark">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
        Products
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item {% if page_name == 'products' %}active{% endif %}"
                href="{{ url_for('products.index') }}">My Products</a>
        </li>

        <li>
            <a class="dropdown-item {% if page_name == 'new_product' %}active{% endif %}"
                href="{{ url_for('products.new_product_page') }}">Add Product</a>
        </li>
    </ul>
</li>