<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ url_for('index') }}">MedCab</a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle collapsed navigation">
            <span class=navbar-toggler-icon></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapse" style>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- { include "components/nav/bottom-navbar/dropup_products.html" %} -->
                <li class="nav-item">
                    <a class="nav-link {% if page_name == 'products' %}active{% endif %}"
                        href="{{ url_for('products.index') }}">My
                        Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page_name == 'new_product' %}active{% endif %}"
                        href="{{ url_for('products.new_product_page') }}">Add Product</a>
                </li>
            </ul>

            <div class="col d-none d-sm-block">

                <div class="vr"></div>

                <span class="text-bg-dark">
                    {% include "components/svgs/caret_right_fill.html" %}
                </span>

                <span class="text-bg-dark">{{ page_name|title }}</span>

            </div>

        </div>

        <div class="col-md-auto">
            <!-- Quick add button. This opens an offscreen canvas. The code for that canvas is in the base.html template. -->
            <button class="btn btn-success" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#quickAddOffCanvasBottom" aria-controls="quickAddOffCanvasBottom">
                {% include "components/svgs/plus_circle_fill.html" %}
                Quick Add
            </button>
        </div>
    </div>
</nav>