{% extends "base.html" %}

{% block notification %}
{% if notification is not none and notification.display == true %}
<div class="container-fluid">
    <!-- {{ notification.message }} -->
    {% include 'components/notification/banner_notification.html' %}
</div>
{% endif %}
{% endblock notification %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1>MedCab Home</h1>
        </div>
    </div>
</div>
{% endblock content %}