<div class="container-fluid">
    <div class="card text-center">
        <div class="card-header text-bg-success">
            <span class="bi bi-plus-square"> Add New Product</span>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col">
                    <p class="card-subtitle mb-2">
                        Add a new product to the cabinet
                    </p>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col">
                    <div class="my-2">
                        {% include "components/form/new_product_form.html" %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>